name: Development version tests

on:
  push:
    branches:
      - main
      - 'stable/**'
  pull_request:
    branches:
      - main
      - 'stable/**'
  schedule:
    - cron: '0 1 * * *'

jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      max-parallel: 4
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies (development versions)
        shell: bash
        run: |
          python -m pip install --upgrade pip tox
          python -m pip install extremal-python-dependencies==0.0.3
          extremal-python-dependencies pin-dependencies \
              "qiskit @ git+https://github.com/Qiskit/qiskit.git" \
              "pyscf @ git+https://github.com/pyscf/pyscf.git" \
              --inplace
      - name: Test using tox environment
        shell: bash
        run: |
          toxpyversion=$(echo ${{ matrix.python-version }} | sed -E 's/^([0-9]+)\.([0-9]+).*$/\1\2/')
          tox -epy${toxpyversion}
          tox -epy${toxpyversion}-notebook
